/* Danielle Monroe */

/* styles the header, positioning the icon */
body{
    width: 960px;
    position: static;
    font: 24pt;
}

#header{
    width: 750px;
    padding: 20px;
    margin: 20px;
    background: #2a2a2b;
}
#container{
    width: 90px;
    float: left;

}

.slogan{
    color: #2649DB;
}

img{
    width: 90px;
}

.nav_welcome{
    color: #bbbbbc;
}

/* Styles the fonts */
h1{
    color: #0924B2;
    font: 40pt;
    font-family: Helvetica Neue, Roboto, serif;
    font-weight: bold;
}

h2,h3{
    color: #222528;
    font-family: Helvetica Neue, Roboto, serif;
    font: 32pt;
}

/* Gives borders on the Home page and styles buttons */

#member,#join{
    width: 750px;
    padding: 20px;
    margin: 20px;
    border: solid;
    text-align: center;
}

button{
    background-color: #7C7D82;
    font: 14pt;
    border-radius: 6px;
    color: #D7DADD;
}

button:hover{
    background-color: #2649DB;

}

/* styles form */
#regForm{
    width: 750px;
    margin: 40px;
    border-radius: 40px;
}

fieldset{
    width: 225px;
    padding: 25px;
    border: solid;
    list-style-type: none;
    background: #2649DB;
    opacity: .95;
    color: #D7DADD;
    line-height: 145%;
}

#tabs{

    width: 750px;
    padding: 20px;
    margin: 20px;

}

#tabs_nav{
    list-style-type: none;
    width: 750px;
    text-decoration: none;
    padding: 5px;
    background: #7c7d82;
    height: 20px;
}

#tabs_nav li{
    color: #2649DB;
    display: inline;
    padding: 50px;
    width: 200px;


}

#tabs_info{
    background:#2a2a2b;
    color: #bbbbbc;
    width: 750px;
    padding: 20px;
    margin: 20px;
}



#overlay{
    width: 100%;
    height: 100%;
    color: #0924B2;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    border: solid;
}

#modal{
    width: 200px;
    background:#2a2a2b;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

#modal .close{
    position: absolute;
    border: solid;
    cursor: pointer;
}


.status:checked{
    background: #2649DB;
}


.add{
    background-color: #000207;
    font: 14pt;
    border-radius: 6px;
    color: #bbbbbc;
    width: 100px;
}