/* Danielle Monroe */

/* styles the header, positioning the icon */
body{
    width: 960px;
    position: static;
    font: 24pt;
}

#header{
    width: 750px;
    padding: 20px;
    margin: 20px;
    background: #2a2a2b;
}

#container{
    width: 90px;
    float: left;
}

.slogan{
    color: #2649DB;
    margin-left: 20px;
}

img{
    width: 90px;
}

.nav_welcome{
    color: #bbbbbc;
}

/* Styles the fonts */
h1{
    color: #0924B2;
    font: 40pt;
    font-family: Helvetica Neue, Roboto, serif;
    font-weight: bold;
    margin-left: 20px;
}

h2,h3{
    color: #222528;
    font-family: Helvetica Neue, Roboto, serif;
    font: 32pt;
}

/* Gives borders on the Home page and styles buttons */

#member,#join{
    width: 750px;
    padding: 20px;
    margin: 20px;
    border: solid;
    text-align: center;
}

button{
    background-color: #7C7D82;
    font: 14pt;
    border-radius: 6px;
    color: #D7DADD;
}

button:hover{
    background-color: #2649DB;

}

/* styles form */
#regForm{
    width: 750px;
    margin: 40px;
    border-radius: 40px;
}

fieldset{
    width: 400px;
    padding: 25px;
    border: solid;
    list-style-type: none;
    background: #2649DB;
    opacity: .95;
    color: #D7DADD;
    line-height: 145%;
}



/* styling for accordion */
#tabs{
    width: 750px;
    padding: 20px;
    height: 150px;
    background-color:#2a2a2b;
}

#tabs-nav{
    list-style-type: none;
    width: 750px;
    text-decoration: none;
    padding: 5px;
    background-color: #7c7d82;
    height: 50px;
}

#tabs-nav li{
    color: #2649DB;
    display: inline;
    padding: 50px;
    width: 200px;
}

#tabs p{
    color: #bbbbbc;
}


/* styling for modal */
#overlay{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

#modal{
    width: 400px;
    background:#2a2a2b;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 1001;
    display: none;
}

#modal p{
    margin: 15px;
}

#modal .close{
    position: absolute;
    border: solid;
    cursor: pointer;
    right: 5px;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f00;
}

.status:checked{
    background: #2649DB;
}

.add{
    background-color: #000207;
    font: 14pt;
    border-radius: 6px;
    color: #bbbbbc;
    width: 100px;
}

#projectForm{
    color: #D7DADD;
    width: 275px;
    padding: 25px;
    border: solid;
    list-style-type: none;
    background: #2649DB;
    opacity: .95;

    line-height: 145%;
    height: 200px;
}

#modal h2{
    color: #0924B2;
}

/* styling for tool tips */
.tooltip{
    display: none;
    position: absolute;
    border: 1px solid;
    background-color: #2a2a2b;
    color: #2649DB;
}

/*styling for drag and drop */
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }